.App {
  text-align: center;
}
.userContainer {
  background: lightblue;
  border-radius: 4px;
  width: 450px;
  margin: 60px auto;
  padding: 40px;
}

.checkbox {
  color: #ff0000;
  font-size: 25px;
}

.checked {
  padding-bottom: 40px;
}

h1 {
  display: inline-block;
  padding-right: 20px;
}
